{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cinema hall</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/for-main.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/dropzone.css' %}" rel="stylesheet">


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Cinema hall</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto" id="menu-main">
            <li class="nav-item active">
              <a class="nav-link" href="">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="log_jwt" style="display:none;">Login</a>
              <a class="nav-link" id="log_out" style="display: none">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="reg_user" style="display: none">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="add_film_button" style="display: none">Add film</a>
            </li>
          </ul>
            <form id="auth_form" style="display: none">
                <label>username: <input type="text" id="username_form"></label>
                <label>password: <input type="password" id="password_form"></label>
                <button type="submit">login</button>
             </form>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container" id="main-page">
       {% if film %}
      <!-- Page Heading -->
      <h1 class="my-4">{{ film.title }}
        <small>{{ film.genre }}</small>
      </h1>
           <p>{{ film.description }}</p>
           <p>Premiere: {{ film.premiere_date }}</p>
           <p>Session time: {{ film.session_time }}</p>
           <p>Film duration: {{ film.film_duration }}</p>
           <p>Price: {{ film.price }}</p>
           <div id="rowtickets"></div>
    <button id="btnSeating" >Show Seating</button>
    <button id="bookPlace">Book</button>

    <div id="messagePanel" class="messagePanel"></div>
    <form id="book">
        {% csrf_token %}
    </form>

    {% endif %}
    </div>

    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Js for project -->
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/check_token.js' %}"></script>
    <script src="{% static 'js/film_interaction.js' %}"></script>
    <script src="{% static 'vendor/dropzone.js' %}"></script>
    <script src="{% static 'js/post_form.js' %}"></script>
        <script src="{% static 'js/seat.js' %}"></script>
  </body>

</html>